@import url("main-layout/main-layout.css");
@import url("introduction/index.css");

html{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--third), var(--fourth) 80%);
    background-repeat: no-repeat;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;   
}

:root{
    --primary: #d4f0fc;
    --secondary: #89d6fb;
    --third: #02a9f7;
    --fourth: #01303f;
}