@import url(mobile/nagivation-bar/index.css);
@import url(mobile/introduction/index.css);

html{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--secondary) 30%, var(--fourth) 120%);
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

:root{
    --primary: #d4f0fc;
    --secondary: #89d6fb;
    --third: #02a9f7;
    --fourth: #01303f;
}