.navigation-bar__mobile{
    padding: 1rem;
    overflow: hidden;
    background-color: var(--fourth);
    color: var(--third);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

#navLinks{
    display: none;
    margin-top: 1rem;
    transition: display 13s 3s;
}

#navLinks a, a::after{
    display: inline;
    text-decoration: none;
    padding: 5px;
    color: var(--third);
}

.nagivation-bar__logo{
    display: inline;
    order: -1;
}

.nagivation-bar__icon{
    display: inline;
}



