.introduction__layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--fourth);
}

.introduction__image{
    margin-top: 3rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.introduction__name{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.introduction__text{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.introduction__under-name{
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .introduction__text{
        width: 80%;
    }
}